.inc_exp {
    background-color: white;
    margin: auto;
    width: 40vw;
    box-shadow: 1px 1px 5px 5px rgb(194, 192, 192);
    min-height: 10vh;
    display: flex;
    flex-direction: row;
}

.left {
    text-align: center;
    flex-grow: 1;
}

.right {
    text-align: center;
    flex-grow: 1;
}